---
import ThemeMode from "./ThemeMode.astro";

interface Props {
  languages: any[];
}
const { languages } = Astro.props;

const cahngeIcon = () => {
  languages;
};
---

<article class="max-w-5xl m-auto px-4 md:px-6 flex gap-4">
  <ThemeMode />
  <div class="flex gap-2 items-center justify-end">
    {
      languages.map((lang, index) => (
        <button type="button" title={lang.name} class="w-8 h-8">
          <img
            src={`${lang.icon}`}
            alt={`Icon ${lang.icon}`}
            width={32}
            height={32}
            class="rounded-full"
          />
        </button>
      ))
    }
  </div>
</article>
