---
interface Props {
  languages: any[];
}
const { languages } = Astro.props;

import ca from "../assets/cat.png";
---

<section class="py-2">
  <article class="max-w-7xl m-auto flex gap-2 items-center justify-end px-6">
    {
      languages.map((lang, index) => (
        <button
          type="button"
          title={lang.name}
          class={`rounded-full 
            
            w-8 h-8 flex items-center justify-center`}
        >
          <img src={lang.icon} alt="" />
        </button>
      ))
    }
  </article>
</section>
