---
interface Props {
  title: string;
  body: string;
  href: string;
}

const { href, title, body } = Astro.props;
---

<article class="border p-4 rounded-md shadow-sm" title={title}>
  <div class="hover:scale-75 transition-transform duration-300">
    <a href={href}>
      <h2 class="text-2xl font-bold">
        {title}
        <span>&rarr;</span>
      </h2>
      <p>
        {body}
      </p>
    </a>
  </div>
</article>
