<div class="size-full flex justify-end">
  <div class="px-4 flex gap-1 py-2">
    <button class="btn" style="--btn-hover-bg: #12a6c0;">
      <img
        src="./images/brightness.svg"
        alt="Brightness"
        width={"100%"}
        height={"100%"}
        class="object-cover object-cente"
      />
    </button>
    <button class="btn" style="--btn-hover-bg: #333;">
      <img
        src="./images/nights_stay.svg"
        alt="Nights"
        width={"100%"}
        height={"100%"}
        class="object-cover object-center"
      />
    </button>
  </div>
</div>
<style>
  .btn {
    --theme-color: #ffffff;
    --btn-hover-bg: #333;
    @apply bg-[var(--theme-color)] 
         rounded-full
         p-[4px]
        transition-transform duration-300
        border-2 border-transparent focus:border-2 focus:border-[var(--btn-hover-bg)];
    box-shadow: 0 0 10px 1px rgb(223, 224, 221) inset;
  }
</style>
